{
    {{ with secret "consul/creds/consul-agent" }}
    "acl_token": "{{ .Data.token }}",
    {{ end }}
    
    {{ with secret "secret/consul/gossip-key" }}
    "encrypt": "{{ .Data.key }}"
    {{ end }}
}
