log_level         :info
log_location      STDOUT
local_mode        true
chef_zero.enabled true
ssl_verify_mode   "verify_peer"
data_bag_path     "{{user `chef_dir`}}/data_bags"
policy_name "{{user `chef_policy`}}"
policy_group 'local'
policy_document_native_api true
use_policyfile    true
versioned_cookbooks true
node_name         "packer-ami-build"
